$background-color: white;
$header-background-color: honeydew;
$navbar-background-color: #1e1e1e;
$socials-background-color: #4d4d4d;

$header-line-color: #daff05;

$button-color: yellow;

$text-color: black;
$text-color-2: gray;
$text-color-link: white;
$text-color-link-2: cyan;

$font: 'Montserrat', sans-serif;