.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        margin: 1rem 0;
    }

    &__copyright {
        font-size: 0.8rem;
    }
    &__first {
        color: #08fdd8;
    }

    &__last {
        color: #ff0854;
    }
}