.header {
    height: 45rem;
    &__container {
        height: 10rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__profile--picture {
        margin-top: 1.5rem;
    }

    &__profile--name {
        @include respond(tablet) {
            font-size: 2.5rem;
        }
        margin-top: 1rem;
    }
    &__profile--job {
        @include respond(mobile) {
            font-size: 1.1rem;
        }
        text-align: center;
    }
}