.nav {
    background-color: $navbar-background-color;
    &__headline {
        width: 100%;
        height: 4px;
        background-color: $header-line-color;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.8rem 0;
    }

    &__logo {
        margin-bottom: 0.4rem;
    }
}